.layout--container {
  @apply drop-shadow-2xl;

  background: #EBD9B4;
  padding: 72px 64px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  transform: perspective(80vw) rotateY(8deg);
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.14) inset;
}