@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-font: "Montserrat", sans-serif;
  --heading-font: "Lilita One", cursive;

  --color-background: 18 18 18;
  --color-background-elevated: 40 40 40;
  --color-card: 40 40 40;
  --color-card-elevated: 63 63 63;
  --color-foreground: 255 255 255;
  --color-foreground-muted: 149 174 176;
  --color-foreground-strong: 133 161 163;
  --color-link: 99 136 137;
  --color-link-hover: 133 161 163;
  --color-border: 149 174 176;
  --color-border-muted: 63 63 63;
  --color-accent: 149 174 176;
  --color-accent-foreground: 40 40 40;
  --color-highlight: 251 146 60;
  --color-overlay: 0 0 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  min-width: 375px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --body-font: var(--font-montserrat);
  --heading-font: var(--font-lilita);

  @apply bg-gradient-to-b from-background-elevated to-background text-foreground;
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
}

p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

code {
  vertical-align: bottom;
}

.layout--container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
